= form_for @provider do |f|
  - if @provider.errors.any?
    #error_explanation
      %h2= "#{pluralize(@provider.errors.count, "error")} prohibited this provider from being saved:"
      %ul
        - @provider.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.submit({class: 'form-control btn btn-success'})
<<<<<<< HEAD

  .field
    = f.label :latitude
    = f.number_field :latitude

  .field
    = f.label :longitude
    = f.number_field :longitude
=======
>>>>>>> 44e60fc4511873bc73682c1ef5f7f75497400e6f
