.subnav
  .title
    %h1= @provider.name
  .actions
    = link_to 'Delete', @provider, method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger'
    = link_to 'Edit', edit_provider_path(@provider), class: 'primary'

%dl.row
  %dt.col-sm-3 Latitude
  %dd.col-sm-9= @provider.latitude
  %dt.col-sm-3 Longitude
  %dd.col-sm-9= @provider.longitude
  %dt.col-sm-3 Description
  %dd.col-sm-9= @provider.description
  %dt.col-sm-3 Street Address
  %dd.col-sm-9= @provider.street_address
  %dt.col-sm-3 City
  %dd.col-sm-9= @provider.city
  %dt.col-sm-3 State
  %dd.col-sm-9= @provider.state
  %dt.col-sm-3 Zip Code
  %dd.col-sm-9= @provider.zip
