= form_for [:admin, @partner], multipart: true do |f|
  - if @partner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@partner.errors.count, "error")} prohibited this partner from being saved:"
      %ul
        - @partner.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', rows: 10
  .form-group
    = f.label :street_address
    = f.text_field :street_address, class: 'form-control'
  .form-group
    = f.label :city
    = f.text_field :city, class: 'form-control'
  .form-group
    = f.label :state
    = f.text_field :state, class: 'form-control'
  .form-group
    = f.label :zip
    = f.text_field :zip, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :phone
    = f.text_field :phone, class: 'form-control'
  .form-group
    = f.label :url
    = f.url_field :url, class: 'form-control'
  .form-group
    = f.label :hours_of_operation
    = f.text_field :hours_of_operation, class: 'form-control'
  .form-group
    = f.label :keywords
    = f.text_field :keywords, class: 'form-control'
  .form-group
    = f.label :latitude
    = f.number_field :latitude, class: 'form-control'
  .form-group
    = f.label :longitude
    = f.number_field :longitude, class: 'form-control'
  .form-group
    = f.label :logo
    = f.file_field :logo, class: 'form-control-file'
  .form-group
    = f.label :products
    = f.collection_check_boxes(:product_ids, Product.all, :id, :name)
  .form-group
    = f.label :categories
    = f.collection_check_boxes(:category_ids, Category.all, :id, :name)