%div{:class => "container"}
  %div{:class => "row"}
    %div{:class => "col-sm"}
      %div{:class =>"d-flex justify-content-center"}
        =image_tag(@partner.logo, class: 'partner_logo') if @partner.logo.attached?
      %div{:class =>"d-flex justify-content-center"}
        %h1= @partner.name
      %div{:class =>"d-flex justify-content-center"}
        %i{:class => "bi-clock"}
        %p= @partner.hours_of_operation
      %div{:class =>"d-flex justify-content-center"}
        .actions
          -# = link_to 'Delete', [:admin, @partner], method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger'
          = link_to 'Edit Partner', edit_admin_partner_path(@partner), class: 'primary'
      %div{:class =>"d-flex justify-content-center text-center"}
        %dd.col-sm-9= @partner.description
      %div{:class => "container"}
        %div{:class => "row d-flex justify-content-center pt-1"}
          %button{:class => "btn border btn-light btn-block rounded-pill w-60", :onclick => "copytoclipboard(); this.innerHTML='Copied!", :data-toggle => "tooltip", :data-placement => "bottom", :title =>"Copy address"}
            #{@partner.street_address} #{@partner.city}, #{@partner.state} #{@partner.zip}
            %i{:class => "bi-map"}
        %div{:class => "row d-flex justify-content-center pt-1"}
          %button{:class => "btn border btn-light btn-block rounded-pill w-60", :data-toggle => "tooltip", :data-placement => "bottom", :title =>"Copy phone number"}
            = "#{@partner.phone}".phony_formatted(normalize: :NA, format: :national, spaces: ' ')
            %i{:class => "bi-telephone-fill"}
        %div{:class => "row d-flex justify-content-center pt-1"}
          %button{:class => "btn border btn-light btn-block rounded-pill w-60", :data-toggle => "tooltip", :data-placement => "bottom", :title =>"Go to partner website"}
            = link_to "#{@partner.url}", @partner.url
            %i{:class => "bi-link-45deg"}

          %input{:style => "display:none;", :type => "text", :value => "#{@partner.street_address} #{@partner.city}, #{@partner.state} #{@partner.zip}", :id => "myInput"}

          -# %button{:onclick => "myFunction()"}Copy text

          -# %script
          -#   function myFunction() {
          -#   var copyText = document.getElementById("myInput");
          -#   copyText.select();
          -#   copyText.setSelectionRange(0, 99999)
          -#   document.execCommand("copy");
          -#   alert("Copied the text: " + copyText.value);
          -#   }
 
      %br
      %dt.col-sm-3 Categories
      %dd.col-sm-9
        - @partner.categories.each do |category|
          .row-sm-9= link_to category.name, [:admin, category]
      %dt.col-sm-3 Products
      %dd.col-sm-9
        - @partner.products.each do |product|
          .row-sm-9= link_to product.name, [:admin, product]

    %div{:class => "col-sm border rounded bg-light"}
      %div{:class => "d-flex"}
        %div{:class => "p-2"}
          %h3 Notes
        %div{:class => "ml-auto p-2"}
          %button{:class => "btn btn-outline-dark", :id => "notebutton", :data-toggle => "tooltip", :data-placement => "bottom", :title => "Add a new note"}+
          -# = button_tag "", id: "notebutton", :class => "bi-plus-circle" 
        
          #notesform
            = form_for [:admin, @partner, Note.new] do |f|
              .form-group
                = f.label :title
                = f.text_field :title, :required => true, class: 'form-control'
              .form-group
                = f.text_area :body, :required => true, class: 'form-control', rows: 8 
              .form-group
                =f.file_field :images, class: 'form-control'
              .form-group
                = f.submit({class: 'form-control btn btn-success'})
                -#= button_tag 'Submit', type: 'submit', class: "btn btn-primary"
      %div{:class => "container overflow-auto mt-4", :style => "height: 500px;"}
        - @partner.notes.each do |note|
          %div{:class => "card"}
            %div{:class => "card-header"}
              = link_to note.title, [:admin, note]
              last edited #{date_time(note)} 
            / .actions= link_to 'View Body', "note-body" => "#{note.body}"
            %div{:class => "card-body"}  
              %dl.row{:id => "bodybutton"}View Body
              %dl.row.a{:id => "notebody"}#{note.body} 
              / %dl.row.actions= link_to "Delete Note", [:admin, @partner, Note.delete(note.id)], id: "notedelete", class: "btn btn-primary", data: { confirm: "Are you sure?" }

