%div{:class => "container"}
  %div{:class => "row"}
    %div{:class => "col-sm"}
      %div{:class =>"d-flex justify-content-center"}
        =image_tag(@partner.logo, class: 'partner_logo') if @partner.logo.attached?
      %div{:class =>"d-flex justify-content-center"}
        %h1= @partner.name
      %div{:class =>"d-flex justify-content-center"}
        %i{:class => "bi-clock pr-1"}
        %p= @partner.hours_of_operation
      %div{:class =>"d-flex justify-content-center"}
        .actions
          -# = link_to 'Delete', [:admin, @partner], method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger'
          = link_to 'Edit Partner', edit_admin_partner_path(@partner), class: 'primary'
      %div{:class =>"d-flex justify-content-center text-center"}
        %dd.col-sm-9= @partner.description
      %div{:class =>"d-flex justify-content-center"}
      %div{:class =>"d-flex justify-content-center text-center"}
      %div{:class =>"d-flex justify-content-center"}
        = button_to @partner.facebook, {class: 'btn btn-small', :disabled => !@partner.facebook.present?, :form => {target: '_blank'}} do
          %i{:class => "m-2 bi bi-facebook fa-lg", :data-toggle => "tooltip", :data-placement => "bottom", :title =>"Link to partner Facebook"}
        = button_to @partner.instagram, {class: 'btn btn-small', :disabled => !@partner.instagram.present?, :form => {target: '_blank'}} do
          %i{:class => "m-2 bi bi-instagram fa-lg", :data-toggle => "tooltip", :data-placement => "bottom", :title =>"Link to partner Instagram"}
        = button_to @partner.twitter, {class: 'btn btn-small', :disabled => !@partner.twitter.present?, :form => {target: '_blank'}} do
          %i{:class => "m-2 bi bi-twitter fa-lg", :data-toggle => "tooltip", :data-placement => "bottom", :title =>"Link to partner twitter"}
      %div{:class => "container"}
        %div{:class => "row d-flex justify-content-center pt-1"}
          %button{:class => "btn border btn-light btn-block rounded-pill w-60", :onclick => "copytoclipboard(); this.innerHTML='Copied!", :data-toggle => "tooltip", :data-placement => "bottom", :title =>"Search address in Google maps"}
            = link_to "#{@partner.street_address} #{@partner.city}, #{@partner.state} #{@partner.zip}", "http://www.google.com/maps?ie=UTF-8&q=#{@partner.street_address} #{@partner.city}, #{@partner.state} #{@partner.zip}", target: :_blank
            %i{:class => "bi-map pl-1"}
        %div{:class => "row d-flex justify-content-center pt-1"}
          %button{:class => "btn border btn-light btn-block rounded-pill w-60", :onclick => "copytoclipboard(); this.innerHTML='Copied!", :data-toggle => "tooltip", :data-placement => "bottom", :title =>"Send an email"}
            = mail_to @partner.email
            %i{:class => "bi-envelope pl-1"}
        %div{:class => "row d-flex justify-content-center pt-1"}
          %button{:class => "btn border btn-light btn-block rounded-pill w-60", :data-toggle => "tooltip", :data-placement => "bottom", :title =>"Go to partner website"}
            = link_to "#{@partner.url}", @partner.url, target: :_blank
            %i{:class => "bi-link-45deg pl-1"}
        %div{:class => "row d-flex justify-content-center pt-1"}
          %button{:class => "btn border btn-light btn-block rounded-pill w-60", :data-toggle => "tooltip", :data-placement => "bottom", :title =>"Partner phone"}
            = "#{@partner.phone}".phony_formatted(normalize: :NA, format: :national, spaces: ' ')
            %i{:class => "bi-telephone pl-1"}
 
      %br
      %dt.col-sm-3 Categories
      %dd.col-sm-9
        - @partner.categories.each do |category|
          .row-sm-9= link_to category.name, [:admin, category]
      %dt.col-sm-3 Featured Listing
      %dd.col-sm-9
        .row-sm-9= featured_listing_name(@partner.featured_listing_id)
      %dt.col-sm-3 Dietary
      %dd.col-sm-9
        - @partner.dietaries.each do |dietary|
          .row-sm-9= dietary.name
      %dt.col-sm-3 Procurement
      %dd.col-sm-9
        - @partner.procurements.each do |procurement|
          .row-sm-9= procurement.name
      %dt.col-sm-3 Values
      %dd.col-sm-9
        - @partner.values.each do |value|
          .row-sm-9= value.name
      %dt.col-sm-3 Discount
      %dd.col-sm-9= @partner.discount

    %div{:class => "col-sm border rounded bg-light"}
      %div{:class => "d-flex pt-2"}
        %div{:class => "p-2"}
          %h3 Notes
        %div{:class => "ml-auto p-2"}
          %button{:class => "btn btn-outline-dark rounded-circle", :id => "notebutton", :data-toggle => "tooltip", :data-placement => "bottom", :title => "Add a new note"}+
          -# = button_tag "", id: "notebutton", :class => "bi-plus-circle" 
        
          #notesform
            = form_for [:admin, @partner, Note.new] do |f|
              .form-group
                = f.label :title
                = f.text_field :title, :required => true, class: 'form-control'
              .form-group
                = f.text_area :body, :required => true, class: 'form-control', rows: 8 
              .form-group
                =f.file_field :images, class: 'form-control'
              .form-group
                = f.submit({class: 'form-control btn btn-success'})
                -#= button_tag 'Submit', type: 'submit', class: "btn btn-primary"
      %div{:class => "container overflow-auto mt-4", :style => "height: 500px;"}
        - @partner.notes.each do |note|
          %div{:class => "card"}
            %div{:class => "card-header"}
              = link_to note.title, [:admin, note]
              last edited #{date_time(note)} 
            / .actions= link_to 'View Body', "note-body" => "#{note.body}"
            %div{:class => "card-body"}  
              %dl.row{:id => "bodybutton"}View Body
              %dl.row.a{:id => "notebody"}#{note.body} 
              / %dl.row.actions= link_to "Delete Note", [:admin, @partner, Note.delete(note.id)], id: "notedelete", class: "btn btn-primary", data: { confirm: "Are you sure?" }

