.subnav
  .title
    %h1 Providers
  .actions
    = link_to 'New Provider', new_admin_provider_path, class: 'primary'

%table.table
  %thead
    %tr
      %th Name
      %th Latitude
      %th Longitude
      %th
  %tbody
    - @providers.each do |provider|
      %tr
        %td= link_to provider.name, [:admin, provider]
        %td= provider.latitude
        %td= provider.longitude
        %td
          = link_to 'Edit', edit_admin_provider_path(provider), class: 'btn btn-sm btn-outline-primary'
          = link_to 'Delete', [:admin, provider], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
