.subnav
  .title
    %h1 Notes
  .actions
    = link_to 'Last Week', admin_filtered_notes_path(:week), class: 'primary'
    = link_to 'Last Month', admin_filtered_notes_path(:month), class: 'primary'

%table.table
  %thead
    %tr
      %th Date
      %th User
      %th Partner
      %th Title
      %th Body
  %tbody
    - @notes.each do |note|
      %tr
        %td= date_time(note)
        %td= link_to note.user, admin_notes_by_user_path(note.id)
        %td= link_to note.partner, admin_notes_by_partner_path(note.id)
        %td= link_to note.title, [:admin, note]
        %td= truncate(note.body, :length => 10) 


