.subnav
  .title
    %h1 Notes

%table.table
  %thead
    %tr
      %th Date
      %th User
      %th Partner
      %th Title
      %th Body
  %tbody
    - @notes.each do |note|
      %tr
        %td= date_time(note)
        %td= link_to note.user, [:admin, note]
        %td= link_to note.partner, [:admin, note]
        %td= link_to note.title, [:admin, note]
        %td= truncate(note.body, :length => 10) 


