.subnav
  .title
    %h1= @note.title
    %p Created By  <b> #{@note.user} </b> on  <b>#{date_time(@note)}</b> 
    %p for <b>#{@note.partner}</b>
  .actions
    = link_to 'Delete', [:admin, @note], method: :delete, data: { confirm: 'Are you sure?' }, class: 'danger'
    = link_to 'Edit', edit_admin_note_path(@note), class: 'primary'
%table.table
  %thead
    %tr       
      %td= @note.body
      %td
      %td
      %td
%tbody
  -if @note.images.attached?
    -@note.images.each do |image| 
      =image_tag image, class: 'note_image' 

